<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Frontend</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    
</head>
<body>
    <div class="header">
        <h4>This is the front end for my Datastructures Exam. It uses some basic HTML and Javascript.</h2>
    </div>

    <div class ="row">
        <div class="column1" >
            <p>You will use this box to enter and send your numbers to the backend,
                <br> where they'll be added to the binary search tree, and returned back
                <br> to you in the box to the right.
            </p>
            <br>
            <p>Your query should look like this : 40,23,21,4,5,51,32,1...etc</p>
            <label for="answer">Your Numbers:</label>
            <input type="text" id="answer" name="answer" required>
            <button type="submit" id="submit">Submit</button>


        </div>
        <div class="column2">
            <p>The get request from the database will show up here.</p>
            <button id="previous">Previous Trees</button>
            <p id="getRequest"></p>
        </div>
    </div>
    <script src="../utils/hookups.js"></script>
</body>
</html>