/* yoinked this css template from w3schools */

* {
    box-sizing: border-box;
 
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #59a0e2;
  }
  
  /* Style the header */
  .header {
    background-color: #00ccff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 200px;
    border-radius: 20cm;
    outline: 6px double #326aaf;
  }

  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
  }

  .column1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    text-align: center;
    color: white;
    background-color:#347dd6;
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    outline: 6px double #8ad3af;
  }

  .column1:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }

  .column2 {
    -webkit-flex: 1;
    -ms-flex: 1;
    text-align: center;
    background-color:#8ad3af;
    flex: 2;
    padding: 10px;
    border-radius: 20px;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    outline: 6px double #326aaf;
  }

  .column2:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }



  /* yoinked this css for a loading symbol also from w3schools */

  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /* some nice button css oo lala */

  button {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }
  
  button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
  }
  
  button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
  }